* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0.02667rem;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 1200px;
    min-height: 100vh;
}

ol,
ul {
    list-style: none;
}

button {
    font-weight: bolder;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

.el-loading-spinner .circular {
    display: none !important;
}

.el-loading-spinner {
    position: relative !important;
    background: url("./assets/loading.gif") no-repeat center center;
    background-size: 200px 150px;
    width: 100%;
    height: 100%;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.el-message {
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.el-message .el-message__icon {
    color: #fff;
}

.el-message--success {
    background: linear-gradient(to right, #00bebd, #090909);
    border-color: #00bebd;
}

.el-message--success .el-message__content {
    color: #00bebd;
}

.el-message--info {
    background: linear-gradient(to right, #00bebd, #090909);
    border-color: #909399;
}

.el-message--info .el-message__content {
    color: #909399;
}

.el-message--warning {
    border-color: #fcc97e;
    background: linear-gradient(to right, #fcc97e, #090909);
}

.el-message--warning .el-message__content {
    color: #fcc97e;
}

.el-message--error {
    background: linear-gradient(to right, #f56c6c, #090909);
    border-color: #f56c6c;
}

.el-message--error .el-message__content {
    color: #f56c6c;
}

#app {
    height: 100vh;
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
}

.line-clamp1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}